{% extends "./index.html" %}

{% block title %} Health metrics management {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Add user info</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registeruser/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtLastname" name="txtLastname" class="form-control" placeholder="Lastname"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtAge" name="txtAge" class="form-control" placeholder="Age" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtWeight" name="txtWeight" class="form-control" placeholder="Weight" required>
                    </div>

                    <div class="form-group">
                        <input type="number" id="txtHearRate" name="txtHearRate" class="form-control" placeholder="HearRate" required>
                    </div>

                    <div class="form-group">
                        <input type="number" id="txtOxygenSaturation" name="txtOxygenSaturation" class="form-control" placeholder="OxygenSaturation" required>
                    </div>

                    <div class="form-group">
                        <input type="number" id="txtStressLevel" name="txtStressLevel" class="form-control" placeholder="txtStressLevel" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Info List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Weight</th>
                        <th>HearRate</th>
                        <th>OxygenSaturation</th>
                        <th>StressLevel</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{u.id}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.age}}</td>
                        <td>{{u.weight}}</td>
                        <td>{{u.hearRate}}</td>
                        <td>{{u.oxygenSaturation}}</td>
                        <td>{{u.stressLevel}}</td>
                        
                        <td><a href="editingUser/{{u.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="deleteUser/{{u.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}